* text eol=lf

src/*.json linguist-generated
src/parser.c linguist-generated
src/tree_sitter/* linguist-generated
vendor/avenger_sql_scanner.c linguist-generated
queries/sql-highlights.scm linguist-generated
queries/highlights.scm linguist-generated
